.container {
    max-width: 100%; 
    margin-left: 0 !important;
}

.events{
    position: relative;
    height: 100%; 
}

.event {
    position: absolute;
    border: 1px solid #d1d1d1;
    color: #fff;
    background:#ea8685;
}
